FunctionalAllocator/bin/Debug/FunctionalAllocator.pdb
FunctionalAllocator/bin/Debug/FunctionalAllocator.tlb
FunctionalAllocator/obj/FunctionalAllocator.csproj.UnmanagedRegistration.cache
FunctionalAllocator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FunctionalAllocator/obj/Debug/FunctionalAllocator.csproj.CoreCompileInputs.cache
FunctionalAllocator/obj/Debug/FunctionalAllocator.csproj.FileListAbsolute.txt
FunctionalAllocator/obj/Debug/FunctionalAllocator.dll
FunctionalAllocator/obj/Debug/FunctionalAllocator.g.resources
FunctionalAllocator/obj/Debug/FunctionalAllocator.pdb
FunctionalAllocator/obj/Debug/FunctionalAllocator_MarkupCompile.cache
FunctionalAllocator/obj/Debug/FunctionalAllocator_MarkupCompile.lref
FunctionalAllocator/obj/Debug/Views/FunctionalAllocatorView.baml
FunctionalAllocator/obj/Debug/Views/FunctionalAllocatorView.g.cs
FunctionalAllocator/obj/Debug/Views/FunctionalAllocatorView.g.i.cs
.vs/EnterpriseArchitectAddIn/v17/.suo
